html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

@keyframes glitch {
  0% {
    filter: drop-shadow(2px 0 1px red) drop-shadow(-2px 0 1px cyan);
  }
  0.1% {
    filter: drop-shadow(-3px 0 1px red) drop-shadow(2px 0 1px cyan);
  }
  0.2% {
    filter: drop-shadow(2px 0 1px red) drop-shadow(-2px 0 1px cyan);
  }

  11% {
    filter: drop-shadow(2px 0 1px red) drop-shadow(-2px 0 1px cyan);
  }
  11.1% {
    filter: drop-shadow(-3px 0 1px red) drop-shadow(2px 0 1px cyan);
  }
  11.2% {
    filter: drop-shadow(2px 0 1px red) drop-shadow(-2px 0 1px cyan);
  }

  69% {
    filter: drop-shadow(2px 0 1px red) drop-shadow(-2px 0 1px cyan);
  }
  69.1% {
    filter: drop-shadow(-4px 0 1px red) drop-shadow(2px 0 1px cyan);
  }
  70% {
    filter: drop-shadow(2px 0 1px red) drop-shadow(-2px 0 1px cyan);
  }
}